body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin-top: 80px;
}

input, select, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
